html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: large;
}

.search__input {
  display: block;
  margin: 50px;
  width: 500px;
  height: 70px;
  margin-right: 15px;
  border-radius: 14px;
  outline: none;
}
.country {
  display: flex;
}
.item {
  list-style: none;
}
